body {
    font-family: Arial, Helvetica, sans-serif;
    animation: move linear 2000ms infinite;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

/********************************************* Styling the Section of Body *********************************************/

.display {
    visibility: hidden;
}

/* Style the header */

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.center {
    text-align: center;
    font-size: 48px;
}

.right {
    text-align: right;
    right: 16px;
}

footer>p a {
    color: cyan;
    text-align: center;
}

/****** Section 2 animation ******/

#sectionId {
    padding-top: 18%;
    width: 50%;
    margin-left: 250px;
    color: #000;
}

#sectionId>a {
    color: #000;
}

#border {
    border-radius: 25px;
    width: 1125px;
    margin: auto;
}

/*******************/

#edu {
    display: block;
    width: 350px;
}

#edu>ul>li {
    display: inline;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    padding-left: 30px;
}

#edu .dropdown {
    display: none;
}

#edu a:hover+.dropdown {
    display: table;
}

/*******************/

#ex {
    display: block;
    width: 350px;
}

#ex>ul>li {
    display: inline;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#ex .dropdown {
    position: relative;
    display: none;
}

#ex a:hover+.dropdown {
    display: table;
}

/*******************/

#hob {
    display: block;
    width: 350px;
}

#hob>ul>li {
    display: inline;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: red;
    font-weight: bold;
    line-height: 1.6;
}

#hob .dropdown {
    position: relative;
    display: none;
}

#hob a:hover+.dropdown {
    display: table;
}

/*******************/

/*******************/

#pro {
    display: block;
    width: 350px;
}

#pro>ul>li {
    display: inline;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#pro .dropdown {
    display: none;
}

#pro a:hover+.dropdown {
    display: table;
}

#img1 li .bottom-left {
    position: absolute;
    padding-left: 50px;
}

#img2 .bottom-right {
    position: absolute;
    margin-left: 20px;
}

/*******************/

#skill {
    display: block;
    width: 350px;
}

#skill>ul>li {
    display: inline;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    padding-left: 50px;
    font-weight: bold; 
}

#skill .dropdown {
    display: none;
}

#skill a:hover+.dropdown {
    display: table;
}

/*******************/

.container {
    position: fixed;
}

/*******************/

#proId {
    width: 1115px;
    color: black;
}

#proId>ul>li {
    display: inline;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}

#proId .dropdown {
    display: none;
}

/*******************/

#proId a:hover+.dropdown {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    background-color: rgb(70, 74, 78);
    padding: 20px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 18px;
    box-shadow: 2px 2px 5px black;
}

.grid-container>div a {
    color: #000;
}

/**********************/

/* Create two columns/boxes that floats next to each other */

nav {
    float: left;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */

nav li {
    size: 100%;
}

/* Style the list inside the menu */

nav ul {
    list-style-type: none;
    padding: 0;
}

nav>ul>li img {
    padding-top: 20%;
}

article {
    float: left;
    padding: 20px;
    width: 82.6%;
    background-color: #f1f1f1;
    height: 300px;
}

/* Clear floats after the columns */

section:after {
    content: "";
    display: table;
    clear: both;
    margin-top: 20%;
}

/* Style the footer */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/********************************************* Heading 2 Animation *********************************************/

.line-1 {
    position: relative;
    top: 50%;
    width: 100px;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(0%);
}

/* Animation */

.anim-typewriter {
    animation: typewriter 4s steps(54) 1s 1 normal both, blinkTextCursor 500ms steps(54) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 6em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

/********************************************* Body Background animation *******************************************/

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-20deg, blue 50%, #000 50%);
    bottom: 0;
    left: -100%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}