body{
    background-color: gray
}

h2 {
    background-color: blue;
    color: chartreuse;
}

img{
    box-shadow: 0em black;
}

h3 {
    color: aqua;
}

a{
    text-shadow: 1px 1px  1px red;
}

#navigation {
    
}